@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700;800&display=swap');

html {
  overflow-x: hidden;
}

body {
  font-family: 'Manrope', sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #505056;
  overflow-x: hidden;
  background-color: #ffffff;
  /* background-image: radial-gradient(at 76% 82%, rgba(35, 252, 158, 0.534) 0, hsla(154, 90%, 54%, 0) 50%),
    radial-gradient(at 12% 14%, rgba(170, 255, 0, 0.582) 0, hsla(80, 90%, 55%, 0) 50%); */
  background-size: cover;
  background-attachment: fixed;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
  text-decoration: none;
  outline: none;
}

a:focus,
a:hover {
  text-decoration: none;
}

i,
span,
a {
  display: inline-block;
  transition: all linear 0.3s;
}

hr {
  border: 1px solid;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Manrope', sans-serif;
  font-weight: 900;
  color: #060A11;
  margin: 0px;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 22px;
  color: #060A11;
}

h6 {
  font-size: 20px;
}

p {
  font-size: 16px;
}

/* --------navbar--------- */
.header {
  padding: 0 4.8rem;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.171);
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.header .logo {
  height: 2.5rem;
}

.navbar-list {
  font-family: 'Manrope', sans-serif;
  display: flex;
  gap: 2.5rem;
  list-style: none;
}

.navbar-link:link,
.navbar-link:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #505056;
  transition: all 0.3s;
}

.navbar-link:hover,
.navbar-link:active {
  color: #060A11;
}

.mobile-navbar-btn {
  display: none;
  background: transparent;
  cursor: pointer;
}

.mobile-nav-icon {
  width: 2.8rem;
  height: 2.8rem;
  color: #212529;
}

.mobile-nav-icon[name="close-outline"] {
  display: none;
}

@media(max-width:980px) {
  .mobile-navbar-btn {
    display: block;
    z-index: 999999;
    color: #060A11;
  }

  .header {
    padding: 0 5px;
    position: fixed;
  }

  .header.logo {
    width: 40%;
  }

  .navbar {
    width: 100%;
    height: 100vh;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.685);
    backdrop-filter: blur(20px);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: all 0.5s linear;


  }

  .navbar-list {
    flex-direction: column;
    align-items: center;
  }

  .active .navbar {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
    display: block;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }
}

/* -------Hero section--------- */
.section-hero {
  padding: 7rem 4.8rem;
  padding-top: 8rem;
  max-width: 150rem;
  margin: 0 auto;
}

.hero {
  align-items: center;
}

/* .hero>* {
  flex-basis: 100%;
} */

.content {
  max-width: 60%;
  z-index: 0;

}

.hero-img {
  max-width: 25rem;
  transition: all 0.5s ease;
}

.row {
  display: flex;
  justify-content: space-between;
}

.hero-btn {
  font-family: 'Manrope', sans-serif;
  display: inline-block;
  background-color: #ffffff;
  border: 4px solid #060A11;
  border-radius: 30px;
  color: #060A11;
  padding: 10px 16px;
  transition: all 0.3s ease;
  position: relative;
  box-shadow: 1.5px 1.5px #060A11;
}

.hero-btn:hover {
  background-color: #f2f2f2;
  border-color: #060A11;
  color: #060A11;
  top: -4px;
  box-shadow: 4px 4px #060A11;
}

.hero-btn p {
  font-size: 20px;
  font-weight: 900;
}

.hero-txt {
  padding: 10px 0px;
  padding-bottom: 20px;
}

@media(max-width:980px) {
  .section-hero {
    padding: 7rem 1rem;
    max-width: 150rem;
    margin: 0 auto;
    justify-content: center;
  }

  .hero {
    flex-wrap: wrap-reverse;
    gap: 2 rem;
  }

  .content {
    max-width: 80%;
    text-align: center;
    justify-content: center;
  }

  .hero-btn {
    align-items: center;
    margin: 0 auto;
  }

  .hero-txt {
    text-align: center;
  }

  .content h1 {
    font-size: 44px;
  }
}

;

/* ---------------srevice------------- */
#services {
  padding: 0rem 0rem;
}

.service-container {
  padding: 3rem 4.8rem;
  max-width: 100%;
  margin: 0 auto;
  background-color: #f2f2f2;
}


.service-content {
  padding: 3rem 0rem;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.fade-in {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.fade-in.fade-in-active {
  opacity: 1;
}

.service-title {
  padding-bottom: 3rem;
}

.cards-list {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.card {
  width: 15rem;
  height: auto;
  background: #ffffff;
  padding: 1rem;
  border-radius: 1rem;
  border: .5vmin solid #060A11;
  box-shadow: .4rem .4rem #060A11;
  overflow: hidden;
  transition: all 0.3s ease;
  position: relative;
}

.card img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 11px 0px;

}

.card p {
  text-align: center;
}

.card:hover {
  top: -4px;
  box-shadow: .6rem .6rem #060A11;
}

@media(max-width:980px) {
  .service-content {
    display: flex;
    flex-direction: column;
  }

  .cards-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto
  }

  .card {
    padding-bottom: 15px;
    margin-bottom: 3rem;
  }
}

/* ---------------About me ------------ */
#about {
  padding: 4rem 2rem;
}

.about-container {
  max-width: 1200px;
  max-height: 60rem;
  margin: 0 auto;
}

.about-h2 {
  text-align: center;
  margin-bottom: 0rem;
}

.about-content {
  max-width: 100%;
  max-height: fit-content;
}

/* .about-card {
  width: 100rem;
  height: auto;
  background: #ffffff;
  padding: 1rem;
  border-radius: 1rem;
  border: .5vmin solid #060A11;
  box-shadow: .4rem .4rem #060A11;
  overflow: hidden;
  transition: all 0.3s ease;
  position: relative;
}
.about-card:hover {
  top: -4px;
  box-shadow: .6rem .6rem #060A11;
} */
.about-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.about-avatar {
  max-width: 100%;
}

.about-img {
  height: auto;
  width: auto;
}

.about-p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #4a4a4a;
}

@media(max-width:980px) {
  .about-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-avatar {
    display: none;
  }

  .about-card {
    width: 40rem
  }

  .about-h2 {
    text-align: center;
    margin-bottom: 1rem;
  }


  .about-p {
    font-size: 1.2rem;
    line-height: 1.4;
    color: #4a4a4a;
    text-align: center;
  }
}

@media(max-width:744px) {
  .about-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-avatar {
    display: none;
  }

  .about-card {
    width: 20rem
  }

  .about-h2 {
    text-align: center;
    margin-bottom: 1rem;
  }

  .about-p {
    font-size: 1rem;
    line-height: 1.4;
    color: #4a4a4a;
    text-align: justify;
  }
}

/* -----------skills and experience------------------------ */
#Skills {
  padding: 0rem 0rem;
  margin: 0 auto;
}

.skill-container {
  padding: 5rem 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
}

.skill-left {
  width: 50%;
  align-items: right;
}

.skill-heading {
  height: 14rem;
}

.sub-heading {
  text-align: center;
  width: 60%;
  padding-bottom: 15px;
}

.skill-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skill-list ul {
  width: 60%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 4px;
}

.skill-list li {
  display: block;
  text-align: center;
  width: 90px;
  height: 90px;
}

.skill-logo {
  width: 40px;
  height: 40px;
}

/* .skill-right hr{
  border: 1px solid;
} */
.education {
  padding: 15px;
}

.experience {
  padding: 15px;
}

@media(max-width:980px) {
  .skill-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    padding: 4px 2px;
  }

  .skill-heading {
    height: 15rem;
  }

  .skill-left {
    width: 90%;
  }

  .skill-right {
    width: 90%;
  }

  .skill-list ul {
    width: 90%;
  }

  .sub-heading {
    width: 90%;
  }

}

/* ---------project--------- */
#project {
  padding: 5rem 4.8rem;
}

.project-title {
  max-width: 100%;
  text-align: center;
  padding-bottom: 30px;
}

.p-card-list {
  display: flex;
  flex-wrap: wrap;
}

.p-card-list>div {
  flex: 35%;

}

.p-card {
  width: 70%;
  height: auto;
  background: #ffffff;
  padding: 1rem;
  /* padding-bottom: 1.2rem; */
  border-radius: 1rem;
  border: .5vmin solid #060A11;
  box-shadow: .4rem .4rem #060A11;
  overflow: hidden;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.p-card img {
  height: 10rem;
  width: 13rem;
  border-radius: 1rem;
  padding: 10px;
}

.p-card:hover {
  top: -4px;
  box-shadow: .6rem .6rem #060A11;
}

.p-txt {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

@media(max-width:980px) {
  #project {
    padding: 3rem 1.8rem;
  }

  .p-card-list>div {
    flex: 40%;
  }

  .p-card {
    width: 90%;
    margin-left: 0;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }

  .p-card img {
    width: 100%;
    height: auto;
  }
}

@media(max-width:580px) {
  #project {
    padding: 3rem 1.8rem;
  }

  .p-card-list>div {
    flex: 100%;
  }

  .p-card {
    width: 90%;
    margin-left: 0;
    flex-direction: column;
    align-items: flex-start;
  }

  .p-card img {
    width: 100%;
    height: auto;
  }
}

/* ---------Contact-------- */
#Contact {
  padding: 5rem 4.8rem;
  background-color: #f2f2f2;
}

.c-heading {
  text-align: center;
  padding-bottom: 1rem;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.c-content {
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}
.details{
  display: flex;
  flex-direction: row;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30rem;
  background: #f2f2f2;
  padding: 1rem;
  border-radius: 1rem;
  border: .5vmin solid #060A11;
  box-shadow: .4rem .4rem #060A11;
  overflow: hidden;
  transition: all 0.3s ease;
  position: relative;
}

.contact-form h6 {
  text-align: center;
}

.contact-input {
  font-family: 'Manrope', sans-serif;
  background: #ffffff;
  padding: 1rem;
  border-radius: 1rem;
  border: .5vmin solid #060A11;
  box-shadow: .4rem .4rem #060A11;
  overflow: hidden;
  transition: all 0.3s ease;
  position: relative;
}

.contact-input:hover {
  top: -4px;
  box-shadow: .6rem .6rem #060A11;
}



.contact-input:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.contact-input::placeholder {
  font-family: 'Manrope', sans-serif;
  color: #505056;
}

.contact-submit {
  font-family: 'Manrope', sans-serif;
  width: 6rem;
  background: #ffffff;
  padding: 0.8rem;
  border-radius: 2rem;
  border: .5vmin solid #060A11;
  box-shadow: .2rem .2rem #060A11;
  transition: all 0.3s ease;
  margin: 0 auto;
}

.contact-submit:hover {
  top: -4px;
  box-shadow: .4rem .4rem #060A11;
}
.call img{
  width:24px;
  height: 24px;
  padding: 1px;
  margin-right: 5px;
}
.call{
  display: flex;
  align-items: center;
}
.c-para{
  margin-left: 29px;
}
.contact-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24rem;
}
.socialmedia{
  display: flex;
}
.socialmedia img{
  width: 30px;
  height: 30px;
  margin-left: 29px;
}